
@{
    ViewBag.Title = "Index";
}

<h2>Concurso de Proyectos</h2>
<h3>Registro</h3>
<div>
    <input type="text" name="name" value="" placeholder="Categoria" />
    <input type="text" name="name" value="" placeholder="Tema" />
    <input type="text" name="name" value="" placeholder="Participante 1" />
    <input type="text" name="name" value="" placeholder="Participante 2" />
    <input type="text" name="name" value="" placeholder="Participante 3" />
    <input type="text" name="name" value="" placeholder="Participante 4" />
    <input type="text" name="name" value="" placeholder="Participante 5" />
    <input type="text" name="name" value="" placeholder="Curso" />
    <input type="text" name="name" value="" placeholder="Docente a cargo" />

    <input type="button" name="name" value="Agregar" />
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nro</td>
                <td>Categoria</td>
                <td>Tema</td>
                <td>Curso</td>
                <td>Docente</td>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>Casa de Cambio</td>
                <td>Web II</td>
                <td>Ing. Enrique Lanchipa</td>
            </tr>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>Casa de Cambio</td>
                <td>Web II</td>
                <td>Ing. Enrique Lanchipa</td>
            </tr>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>Casa de Cambio</td>
                <td>Web II</td>
                <td>Ing. Enrique Lanchipa</td>
            </tr>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>Casa de Cambio</td>
                <td>Web II</td>
                <td>Ing. Enrique Lanchipa</td>
            </tr>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>Casa de Cambio</td>
                <td>Web II</td>
                <td>Ing. Enrique Lanchipa</td>
            </tr>
        </tbody>
    </table>
    <div class="orden_exposicion">
        <h2>Orden de Exposicion</h2>
        <p>1. - </p>
        <p>2. - </p>
        <p>3. - </p>
        <p>4. - </p>
        <p>5. - </p>
    </div>
</div>


