@model Ejercicio_11.Models.ClsUllman
@{
    ViewBag.Title = "CalcularUllman";
}

<h2>Calcular Ullman</h2>
<h2>Ingrese Nro</h2>

@using (Html.BeginForm("CalcularUllman", "CalcularUllman", FormMethod.Post))
{
    <p>
        @Html.LabelFor(model => model.nro, "Numero:")
        @Html.EditorFor(model => model.nro)
    </p>   

    <p>
        Resultado: @Model.resultado
    </p>

    <input type="submit" value="Calcular" />
}




