@model Laboratorio06_MVC_CALLE.Models.ClsParImpar
@{
    ViewBag.Title = "MostrarParesImpares";
}

<h2>MostrarParesImpares</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4">
                @using (Html.BeginForm("CalcularParesImpares", "ParImpar", FormMethod.Post))
            {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero, "Ingrese Nro: ")
                        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                    </div>
                    <br />
                    <button class="btn btn-primary">
                        Calcular
                    </button>
                }
            </div>
        <div class="col-lg-4"></div>
        </div>
</div>
