@model EjercicioPropuestos_MVC_CALLE.Models.ClsAuto
@{
    ViewBag.Title = "CalcularAlquiler";
}

<h2>CalcularAlquiler</h2>

<h1>RICHARD CAR</h1>
<div>
    <label> <b>Tipo de Auto:</b> </label>@Model.tipo_auto
    <br />
    <label><b>Kilometros Recorridos:</b> </label>@Model.km_recorrido
    <br />
    <label><b>Dias Alquilado:</b></label>@Model.cant_dias
    <br />
    <label><b>Monto a agar: S/.</b></label>@Model.total
    <br />
    <a href="Index">Retornar</a>
</div>
