
@{
    ViewBag.Title = "ListarMeses";
}

<h2>ListarMeses</h2>
<div>
    <h1>Listar meses</h1>
    <br />
    @Html.TextAreaFor(m => ViewData["Resultado"],new { rows="20", cols = "10"} )
    <br />
</div>

