
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@script
<BODY onmousemove="CambiaPosicion()">
    <INPUT TYPE=BUTTON ID="Boton" STYLE="position:absolute" VALUE="Pulsa" onclick="alert('Me pillaste')">
</BODY>
