@model Laboratiorio1_MVC_CALLE.Models.ClsEstudiante
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarDatos</title>
</head>
<body>
    <h1><cente><b>Datos de Estudiante</b></cente></h1>
    <div> 
        <center>
            <label>Apellidos: </label> @Model.Apellido <br />
            <label>Nombres: </label> @Model.Nombre <br />
            <label>Edad: </label> @Model.Edad <br />
            <label>Peso: </label> @Model.Peso
        </center>
    </div>
</body>
</html>
