@model Laboratorio2_MVC_CALLE.Models.ClsOperaciones
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalcularOperaciones</title>
</head>
<body>


    <h1><center>Operaciones Aritmeticas</center></h1>
    <div>
        <label><b>A:</b> </label>@Model.a<br />
        <label><b>B:</b> </label>@Model.b
        <br />
        <label><b>Resultado: </b> </label>@Model.resultado
        <br />
        <a href="EnviarOperaciones">Retornar</a>
    </div>


</body>
</html>