@model Laboratorio_06.Models.ClsAuto
@{
    ViewBag.Title = "CalcularAlquiler";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calcular Alquiler</title>
</head>
<body>


    <h1><center>RICHARD CAR</center></h1>
    <div>
        <label> <b>Tipo de Auto:</b> </label>@Model.tipo_auto
        <br />
        <label><b>Kilometros Recorridos:</b> </label>@Model.km_recorrido
        <br />
        <label><b>Dias Alquilado:</b></label>@Model.cant_dias
        <br />
        <label><b>Monto a agar: S/.</b></label>@Model.total
        <br />
        <a href="EnviarDatos">Retornar</a>
    </div>


</body>


