
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="MostrarSuma" method="post">
            <label>Ingresa numero:</label>
            <input type="type" name="valor1" value="" />
            <br />            
            <input type="type" name="valor2" value="" />
            <br />
            <input type="submit" name="name" value="Calcular" />
        </form>
    </div>
</body>
</html>
