@model Laboratiorio1_MVC_CALLE.Models.ClsSuma
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarSuma</title>
</head>
<body>
    <div>
        <label>Numero 1: </label> @Model.numero1 <br />
        <label>Numero 2: </label> @Model.numero2 <br />
        <label>Resultado: </label>@Model.resultado <br />
    </div>
</body>
</html>
