@model Ejercicio_05.Models.ClsSubsidio
@{
    ViewBag.Title = "CalcularSubsidio";
}

<h2>Resultado</h2>
<div class="alert alert-success">
    <h2>
        Al tener usted de @Model.cant_hijos hijos de los cuales @Model.hijos_escolaridad en escolaridad y usted @Model.viuda viuda recibira la cantidad de:
    </h2>
    <div class="text-right">
        <h1>s/. @Model.resultado nuevos soles</h1>
    </div>
    
    <a href="EnviarDatos">Retornar</a>
</div>



