@model Laboratorio_LINQ_MVC_CALLE.Models.ClsAlumnoNota
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("Index", "AlumnoNotas", FormMethod.Post))
    {
        <h1>Listar Alumnos
        </h1>
        <br />
        @Html.TextAreaFor(m => m.busqueda)
        <br />
        <input type="submit" value="Buscar"/>
        <br />
    }
    @Html.TextAreaFor(Model => Model.resultado, new { rows = "20", cols = "50"})
</div>

